
.btn
{
    background-color: pink;
    text-align: center;
    color: black;
    border-radius: 5%;
    border-style: solid black;
    &:hover
            {
                background-color:palevioletred;
            }
}

.btn-enviar
{
    @extend .btn;
    &:visited
    {
        background-color: purple;
    }
   
}