
$colorSecundario: grey;
$colorPrimario: palevioletred;
$colorTitulo: purple;

$titulo1: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 40px;
$titulo2: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 30px;
$titulo3: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 25px;
$texto: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 15px;

