$color-primario: pink;
$color-secundario: palevioletred;
$color-titulo: purple;

$tituloH1: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 40px;
$tituloH3: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 30px;
$tituloH5: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 27px;
$texto: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 20px;

