.btn, .btn-enviar {
  background-color: pink;
  text-align: center;
  color: black;
  border-radius: 5%;
  border-style: solid black; }
  .btn:hover, .btn-enviar:hover {
    background-color: palevioletred; }

.btn-enviar:visited {
  background-color: purple; }

header h1 {
  color: purple;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, 40px; }

main h2 {
  color: palevioletred;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, 30px; }

main h3 {
  color: grey;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, 25px; }

main p {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, 15px; }

footer {
  background-color: palevioletred;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, 15px;
  color: black;
  font-style: oblique;
  width: 50px; }
